body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hidden {
    display: none;
}

#clock {
    font-size: 3.5em;
    color: white;
    opacity: 0.9;
    margin-bottom: 0;
    align-self: center;
    z-index: 1;

}

#loginForm {
    align-self: center;
    z-index: 1;
}

#loginForm input:first-child{
    height: 30px;
    opacity: 0.8;
    border: none;
    border-bottom: 3px rgb(65, 65, 65) solid;
    align-self: center;
    z-index: 1;
}

#loginForm input:last-child{
    height: 30px;
    opacity: 0.8;
    border: none;
    border-bottom: 3px rgb(65, 65, 65) solid;
    align-self: center;
    z-index: 1;
}

#loginForm input:last-child:hover{
    background-color: gray;
    cursor: pointer;
}

#greeting {
    margin: 0;
    color: white;
    opacity: 0.9;
    text-shadow:1px 1px 1px #000;
    align-self: center;
    z-index: 1;

}

#todo-form {
    align-self: center;
    z-index: 1;
}

#todo-form input:first-child {
    height: 30px;
    opacity: 0.8;
    border: none;
    margin-top: 10px;
    margin-bottom: 10px;
    border-bottom: 3px rgb(65, 65, 65) solid;
}

#todo-list {
    margin: 0;
    list-style:none;
    height: 200px;
    width: 300px;
    min-height: 50px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: auto;
    align-self: center;
    z-index: 1;
}

#todo-list li{
    position: relative;
}

#todo-list li button{
    position: absolute;
    left: -40px;
    border: none;
    background-color:transparent;
}

#todo-list li button:hover{
    cursor: pointer;
    opacity: 0.5;
}

#todo-list::-webkit-scrollbar {
    width: 10px;
}
#todo-list::-webkit-scrollbar-thumb {
    background-color: #6363638f;
}

#quotes {
    color:rgba(255, 255, 255, 0.8);
    text-shadow:1px 1px 1px #000;
    align-self: center;
    z-index: 1;
}

#weather {
    color:white;
    font-size: 1.0em;
    text-shadow:1px 1px 1px #000;
    z-index: 1;
}